{% extends 'base.html.twig' %}

{% block title %}
  Application Memo
{% endblock %}

{% block body %}
  <h1>Application Memo</h1>
  {% if endMemo == false %}
    {{ form(formMemo) }}
  {% else %}
    <h1>Terminer</h1>
  {% endif %}
{% endblock %}
